<div class="col-xl-12">
  <app-card cardTitle="Nova Equipe de Recepção" [options]="false" blockClass="table-border-style">
    <form [formGroup]="newReceptionTeamForm" #formDir = "ngForm">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="inputName">Nome</label>
          <input type="text" class="form-control" formControlName="name" id="inputName" placeholder="Equipe de Recepção" />
        </div>
    
        <div class="form-group col-md-6">
          <label for="lead">Lider</label>
          <input type="text" class="form-control" formControlName="lead" id="lead" placeholder="Lider" />
        </div>
      </div>
      <button (click)="registerReceptionTeam()" class="btn btn-primary">Cadastrar</button>
    </form>
</app-card>
</div>
