<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body" [formGroup]="signupForm" #formDir = "ngForm">
            <img src="assets/images/v3.1-logo.png" alt="logo" class="img-fluid mb-4"  style="height: 175px;"/>
            <p class="mb-3 f-w-400">IDE - Interface de Desenvolvimento Eclesiástico</p>
            <h4 class="mb-3 f-w-400">Nova Conta</h4>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="feather icon-user"></i></span>
              <input type="text" class="form-control" formControlName="username" placeholder="Nome" aria-label="Nome" aria-describedby="basic-addon1" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2"><i class="feather icon-mail"></i></span>
              <input type="email" class="form-control" formControlName="email" placeholder="Email" aria-label="Username" aria-describedby="basic-addon2" />
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text" id="basic-addon3"><i class="feather icon-lock"></i></span>
              <input type="password" class="form-control" formControlName="password" placeholder="Senha" aria-label="Username" aria-describedby="basic-addon3" />
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-block mb-4" (click)="registerUser()">Cadastrar</button>
            </div>
            <p class="mb-2">Já tem uma conta? <a [routerLink]="['/auth/signin']" class="f-w-400">Entrar</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
