<div class="row-xl-12">
    <app-card cardTitle="Estatísticas do Culto" [options]="false" blockClass="table-border-style">
      <div class="row">
        @for (card of cards; track card) {
          <div class="col-md-6 col-xl-3">
            <app-card [hidHeader]="true" cardClass="{{ card.background }} order-card">
              <h6 class="text-white">{{ card.title }}</h6>
              <h2 class="text-end text-white"
                ><i class="feather {{ card.icon }} float-start"></i><span>{{ card.number }}</span>
              </h2>
              <p class="m-b-0"
                >{{ card.text }}<span class="float-end">{{ card.no }}</span></p
              >
            </app-card>
          </div>
        }
      </div>
    </app-card>
  </div>
  
  <div class="row-xl-12">
    <app-card cardTitle="Detalhes do Culto" [options]="false" blockClass="table-border-style">
      <div class="row">
        <h1 class="display-3 text-success mb-1">{{cult?.tema}}</h1>
        <h5>{{cult?.pregador}}</h5>
        <h5>{{cult?.data}}</h5>
      </div>
    </app-card>
  </div>
  