<div class="col-xl-12">
  <app-card cardTitle="Cultos" [options]="false" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-styling">
        <thead>
          <tr class="table-primary">
            <th>Tema</th>
            <th>Data</th>
            <th>Pregador</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cult of cults">
            <td>{{ cult.tema }}</td>
            <td>{{ cult.data }}</td>
            <td>{{ cult.pregador }}</td>
            <td>
              <button class="btn btn-light-primary" (click)="showDetails(cult.id)"> Detalhes </button> 
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>
